<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'drink_app/style.css' %}">
  </head>
  
  <body class="mb-2">
    <div class="wrapper container-fluid w-auto " >
        <div class="navbar sticky-top navbar-warning p-3 rounded">
            <h1 class="logo"><img src="{% static 'drink_app/images/5_clock.JPG' %}">5 O'Clock Somewhere</h1>
            <a class=" navbar-brand display-1">Welcome</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="side_bar mr-5 side_nav">
            <a href="#">Navigation</a>
            <a href="#">My Favorites</a>
            <a href="#">All Drinks</a>
            <a href="#">Drink Roulette</a>
            <a href="#">Order Here</a><br><br><br><br><br>
            <a id="sml-font" class="display-4 d-inline" href="{% url 'login' %}">Log In</a><a id="sml-font" class="display-4 d-inline" href="{% url 'register' %}">Register</a>
        </div>
        <div class="maincont d-inline-block p-4 rounded">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner w-20 rounded">
                          <div class="carousel-item active">
                            <img class="d-block w-50 h-auto" src="{% static 'drink_app/images/wis.png' %}" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-50 h-auto" src="{% static 'drink_app/images/wisk.png' %}" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-50 h-auto" src="{% static 'drink_app/images/oran.png' %}" alt="Third slide">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
        </div>
        <div class= "confirm">
            <h1>A Concoction Connoisseur?</h1>
            <button>Click here to confirm that you're over 21 years of age <input type="checkbox"></button>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
