
/* WELCOME & SEARCH BAR */
.navbar{
    width: 87%;
    margin-left: 191px;
    color: whitesmoke;
}

.navbar h1{
    color:rgb(212, 204, 204);
    font-family: Verdana;
    font-style: oblique;
    font-weight:normal;

}
.logo{
    width: 500px;
    height: auto;
    border-radius: 100%;
}
.navbar h1 img{
    width:100px;
    height:100px;
}
body{
    background-color: whitesmoke;
    background-image: url("../drink_app/images/blur.jpg");
    background-size: cover;
}
/* SIDE NAVIGATION BAR */
.side_nav {
    height: 100%; /* 100% Full-height */
    width: 15%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(35, 33, 34, 0.5);
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 130px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#sml-font{
    font-size: 20px;
}
#nolink{
    color: #a0a0a0;
}
.side_nav a, .alllist a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a0a0a0;
    display: block;
    transition: 0.3s;
}
.side_nav a:hover {
    color: #f1f1f1;
}
/* MAIN CONTENT */
.maincont{
    width: 60%;
    height: 550px;
    margin-left: 350px;
    margin-top: 50px;
}
img{
    background-size: cover;
    padding: 5px;
    width: auto;
    height: 340px;
    margin: auto;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin-top: 7px;
}
/* drinks img main content */
.drinks{
    display: inline-block;
    width: 600px;
    height: 600px;
    vertical-align: top;
    margin-left: 200px;
    color: #a0a0a0;
}
.recipe{
    width: 455px;
    height: 600px;
    display: inline-block;
}
/* DRINK SUGGESTOR  */
.suggest{
    margin: 200px;
    width: 30%;
    height: 200px;
}

/* GLOBAL CLASS */
.whiteish{
    color: whitesmoke;
    margin-left: 219px;
}
.confirm{
    background-color: transparent;
    width:50%;
    margin-left: 350px;
}
.confirm button{
    margin-left: 125px;
    margin-bottom: 5px;
    padding:10px;
    border-radius: 20px;
    color:white;
    background-color: rgb(16, 162, 247)
}
#olcolor{
    color: whitesmoke;
    
}
#olcolor a:hover {
    color: #22b4ce;
}
.infopic{
    width: 300px;
    height: auto;
}
.infodrink{

    margin-left: 230px;
    height: 600px;
    width: 300px;
}
#infoname{
    font-size: 60px;
    color: whitesmoke;
}
.infowrapper{
    height: auto;
}
#response_html{
    margin-left: 500px;
}