
/* WELCOME & SEARCH BAR */
.navbar{
    width: 87%;
    margin-left: 197px;
    color: whitesmoke;
}
.logo{
    color: white;
}
.navbar h1{
    color:rgb(212, 204, 204);
    font-family: Verdana;
    font-style: oblique;
    font-weight:normal;

}
.navbar h1 img{
    width:100px;
    height:100px;
}
body{
    background-color: whitesmoke;
    background-image: url("../drink_app/images/blur.jpg");
    background-size: contain;
}
/* SIDE NAVIGATION BAR */
.side_nav {
    height: 100%; /* 100% Full-height */
    width: 15%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(35, 33, 34, 0.5);
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 110px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#sml-font{
    font-size: 20px;
}
.side_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a0a0a0;
    display: block;
    transition: 0.3s;
}
.side_nav a:hover {
    color: #f1f1f1;
}
/* MAIN CONTENT */
.maincont{
    width: 60%;
    height: 550px;
    margin-left: 350px;
    margin-top: 50px;
}
img{
    background-size: cover;
    padding: 4px;
    width: 50%;
    height: auto;
    margin: auto;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin-top: 7px;
}
/* drinks img main content */
.drinks{
    display: inline-block;
    width: 600px;
    height: 600px;
    outline: 1px solid black;
    vertical-align: top;
    margin-left: 200px;
}
.recipes{
    width: 455px;
    height: 600px;
    display: inline-block;
}
.L{
    height: 50%;
    width: 30%;
    outline: 1px solid black;
}
.B{
    height: 300px;
    outline: 1px solid black;
}
.confirm{
    background-color: transparent;
    width:50%;
    margin-left: 350px;
}
    .confirm button{
        margin-left: 125px;
        margin-bottom: 5px;
        padding:10px;
        border-radius: 20px;
        color:white;
        background-color: rgb(16, 162, 247)
    }
